[user]
	name = Mark Sagi-Kazar
	signingkey = B5ED1C2A
	email = mark.sagikazar@gmail.com
[alias]
	ci = commit -s
	st = status
	co = checkout
	today = log --since=midnight --author='Mark Sagi-Kazar' --oneline
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	comend = commit --amend --no-edit
	it = !git init && git config commit.gpgsign true && git commit -m \"Root commit\" --allow-empty
	shorty = status --short --branch
	yolo = push --force-with-lease

[core]
	excludesfile = /Users/mark/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com
